.container {
  width: 95%;
  margin-inline: auto;
  padding-inline: 20px;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.list-item {
  background-color: #fff;
  box-shadow: 15px 15px 5px -5px rgba(0, 0, 0, 0.2);
}
.color {
  display: block;
  width: 25px;
  height: 25px;
  background: black;
  color: darkorchid;
}
.list-item {
  border: 1px solid black;
  padding: 5px;
}
